### Use this Jupyter Script to dreate a Dataframe with current 10-year historical data for Intel, AMD and NVIDIA.

In [10]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

# Define the stock tickers
tickers = ['INTC', 'AMD', 'NVDA']

# Calculate the date ten years ago from today
end_date = datetime.now()
start_date = end_date - timedelta(days=10*365)

# Create an empty list to store the dataframes
dfs = []

# Fetch historical data for each stock and append to the list
for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
    data['Ticker'] = ticker  # Add a column for the ticker symbol
    dfs.append(data)

# Concatenate the dataframes into a single dataframe
all_data = pd.concat(dfs)

# Save the DataFrame to a CSV file
all_data.to_csv('stock_data_10_years.csv')

# Print the first few rows of the DataFrame
print(all_data.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume  \
Date
2014-03-28  25.410000  25.809999  25.320000  25.620001  19.434687  22884500
2014-03-31  25.650000  26.059999  25.620001  25.809999  19.578819  29336300
2014-04-01  25.799999  26.000000  25.639999  25.990000  19.715359  23778700
2014-04-02  25.959999  26.049999  25.639999  25.889999  19.639503  22464700
2014-04-03  26.150000  26.459999  26.139999  26.410000  20.033964  38581300

           Ticker
Date
2014-03-28   INTC
2014-03-31   INTC
2014-04-01   INTC
2014-04-02   INTC
2014-04-03   INTC

In [11]:
# View the Dataframe with all three ticker symbols present
all_data

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2014-03-28,25.410000,25.809999,25.320000,25.620001,19.434687,22884500,INTC
2014-03-31,25.650000,26.059999,25.620001,25.809999,19.578819,29336300,INTC
2014-04-01,25.799999,26.000000,25.639999,25.990000,19.715359,23778700,INTC
2014-04-02,25.959999,26.049999,25.639999,25.889999,19.639503,22464700,INTC
2014-04-03,26.150000,26.459999,26.139999,26.410000,20.033964,38581300,INTC
...,...,...,...,...,...,...,...
2024-03-19,867.000000,905.440002,850.099976,893.979980,893.979980,67217100,NVDA
2024-03-20,897.969971,904.099976,882.229980,903.719971,903.719971,47906300,NVDA
2024-03-21,923.000000,926.479980,904.049988,914.349976,914.349976,48037200,NVDA
2024-03-22,911.409973,947.780029,908.340027,942.890015,942.890015,58521500,NVDA
2024-03-25,939.409973,967.659973,935.099976,950.020020,950.020020,55015500,NVDA